<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>City Temperatures</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/weather.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    
    <script src="scripts/weatherapp.js"></script>
    <!--<script src="scripts/services-test.js"></script>-->
    <script src="scripts/services.js"></script>

</head>

<body ng-controller="weatherCtrl as wdata">
    <div class="container">
        <div class="jumbotron">
            <h1>Weather <small>City Temperatures</small></h1>
        </div>
        <div class="searchcontainer well well-sm">

            <div class="col-xs-12 col-sm-6">
                <input ng-model="wdata.searches[0].search" ng-change="wdata.updatesearch(0)" type="text" class="form-control graphcity1" placeholder="Search 1">
                <ul class="list-unstyled graphcity1" ng-show="wdata.searches[0].search != '' " >
                    <li ng-repeat="thename in wdata.searches[0].searchresult">
                        <button ng-click="wdata.setcity(0, $index, thename.name)">{{thename.name}}</button>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-6">
                <input ng-model="wdata.searches[1].search" ng-change="wdata.updatesearch(1)" type="text" class="form-control graphcity2" placeholder="Search 2">
                <ul class="list-unstyled graphcity2" ng-show="wdata.searches[1].search != '' ">
                    <li ng-repeat="thename in wdata.searches[1].searchresult">
                        <button ng-click="wdata.setcity(1, $index, thename.name)">{{thename.name}}</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="eachcity graphcity1 panel col-xs-12 col-sm-6">
            <h3 class="cityname col-xs-7 col-sm-12">{{wdata.currentdata.city[0].name}}</h3>
            <div class="col-xs-5 col-sm-12 currentdata">
                <div class="col-xs-5 col-sm-3"><img ng-src="{{wdata.currentdata.graphic[0].icon}}" alt=""></div>
                <div class="col-xs-7 col-sm-9 currenttemp">{{wdata.convert(wdata.currentdata.now[0].temp)}}</div>
            </div>
            <div class="col-xs-12 row">
                <div class="col-xs-8 col-sm-6 row">
                    <div class="high othertemps col-xs-6 col-sm-12">high: {{wdata.convert(wdata.currentdata.high[0].temp)}}</div>
                    <div class="low othertemps col-xs-6 col-sm-12">low: {{wdata.convert(wdata.currentdata.low[0].temp)}}</div>
                </div>
                <div class="othertemps col-xs-4 col-sm-6">feels like: {{wdata.convert(wdata.currentdata.feel[0].temp)}}</div>
            </div>
        </div>

        <div class="eachcity graphcity2 panel col-xs-12 col-sm-6">
            <h3 class="cityname col-xs-7 col-sm-12">{{wdata.currentdata.city[1].name}}</h3>
            <div class="col-xs-5 col-sm-12 currentdata">
                <div class="col-xs-5 col-sm-3"><img ng-src="{{wdata.currentdata.graphic[1].icon}}" alt=""></div>
                <div class="col-xs-7 col-sm-9 currenttemp">{{wdata.convert(wdata.currentdata.now[1].temp)}}</div>
            </div>
            <div class="col-xs-12 row">
                <div class="col-xs-8 col-sm-6 row">
                    <div class="high othertemps col-xs-6 col-sm-12">high: {{wdata.convert(wdata.currentdata.high[1].temp)}}</div>
                    <div class="low othertemps col-xs-6 col-sm-12">low: {{wdata.convert(wdata.currentdata.low[1].temp)}}</div>
                </div>
                <div class="othertemps col-xs-4 col-sm-6">feels like: {{wdata.convert(wdata.currentdata.feel[1].temp)}}</div>
            </div>
        </div>

        <button class="btn btn-block btn-primary btn-sm" ng-click="wdata.toggleunits()">Temperatures in &deg;{{wdata.tempunits}} - press to change units</button>
        
        <div ng-include="'plot.svg'"></div>

    </div>
    
</body>

</html>
